<div class="row valign-wrapper">
  <div class="col m6 offset-m3 s12">
    <a
      [routerLink]="'/cities'"
      class="btn-floating waves-effect waves-light blue-grey"
    >
      <i class="material-icons"> keyboard_arrow_left </i>
    </a>
  </div>
</div>
<div class="row valign-wrapper">
  <div class="col m6 offset-m3 s12">
    <h5 class="center-align">List of sights</h5>
  </div>
</div>
<div *ngFor="let sight of sights" class="row valign-wrapper">
  <div class="col m6 offset-m3 s12">
    <h6>{{ sight.name }}</h6>
  </div>
</div>
